[submodule "zstd"]
	path = vendor/zstd
	url = https://github.com/facebook/zstd.git
	shallow = true
[submodule "cwalk"]
	path = vendor/cwalk
	url = https://github.com/likle/cwalk.git
	shallow = true
[submodule "argparse"]
	path = vendor/argparse
	url = https://github.com/cofyc/argparse.git
[submodule "datastructs"]
	path = vendor/datastructs
	url = https://github.com/marekweb/datastructs-c.git
